/* dasdsa */
body{
    background: #E5E5E5;
}

#top{
    background-color: #222222;
    color:#F3F3F3;
}
#menu{
    background-color: #F0A83E;
}

#placer p{
    background-color: #F3F3F3;
}

#botoncomederos {
    background-color: #F0A83E;
}

footer{
    background-color: #3C2313;
    color: white;
}
footer p {
    color: ##3C2313;
}
#rights{
    color: ##3C2313;
    background-color: #222222;
}